* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    block-size: 100vh;
    background-color: rgb(43, 43, 43);
}

.ninco {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 61px;
    inline-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: greenyellow;
    background-color: blueviolet;
    transition: 0.2s all ease;
    cursor: pointer;
}

.pincho {
    position: absolute;
    inset-inline-end: -100px;
    width: 0; 
     height: 0; 
     border-right: 50px solid transparent;
     border-left: 50px solid transparent;
     border-bottom: 61px solid red;
     transition: all 1.5s ease;
}

#score {
    float: none;
    height: 95vh;
    margin-left: 1.5vh;
    color: blueviolet;
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
    align-items: center;
}